.about {
  padding: 1.5rem;
}

.console {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  margin-top: 4rem;
  background-color: rgba(0, 0, 0, 0.938);
  /* font-family: 'Fira Mono'; */
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.console header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #555;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #DDD;
}

.console .consoleBody {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  padding: 0.6rem;
  height: calc(100% - 40px);
  /* overflow: scroll; */
  background-color: #000;
  color: #ffffff;
}

.console .consoleBody p {
  line-height: 1.5rem;
}

.unLink {
  text-decoration: none;
  color: unset;
}

.unLink:hover {
  cursor: pointer;
  color: white;
}