.home {
  padding: 1.5rem;
}

.home h2 {
  color: rgb(218, 218, 218);
}

.blinker {
  font-weight: 100;
  /* font-size: 30px; */
  -webkit-animation: 0.9s blink step-end infinite;
  -moz-animation: 0.9s blink step-end infinite;
  -ms-animation: 0.9s blink step-end infinite;
  -o-animation: 0.9s blink step-end infinite;
  animation: 0.9s blink step-end infinite;
}

.blinkLink {
  display: none;
}

.mainLink:hover .blinkLink {
  display: inline;
  -webkit-animation: 0.9s blink step-end infinite;
  -moz-animation: 0.9s blink step-end infinite;
  -ms-animation: 0.9s blink step-end infinite;
  -o-animation: 0.9s blink step-end infinite;
  animation: 0.9s blink step-end infinite;
}

.mainLink:hover {
  cursor: pointer;
  color: white;
}

.linkList:hover .blinker {
  display: none;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}