.portfolio {
  padding: 1.5rem;
}

.work {
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid #66fab5; 
  box-shadow: 0 0 1px #80ffc0, 0 0 3px #00ff66, 0 0 7px #00ff66, 0 0 10px #00ff66, inset 0 0 10px #00ff66;
  text-shadow: 0 0 1px #80ffc0, 0 0 2px #00ff66, 0 0 5px #00ff66, 0 0 7px #00ff66;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  margin-bottom: 2rem;
  height: 100%;
  /* position: relative; */
}

.workHr {
  margin: 2rem;
  background-color: #16d87d;
}